<h1>New Carrier</h1>

<%= render 'form' %>

<% if current_user.try(:admin?) %>
  <%= link_to 'Back', carriers_path, class: 'btn btn-default' %>
<% else %>
  <%= link_to 'Back', root_path, class: 'btn btn-default' %>
<% end %>
