<h1>New Carrier</h1>

<%= render 'form' %><hr>

<% if user_signed_in? %>
  <%= link_to 'Back', carriers_path, class: 'btn btn-default' %>
<% else %>
  <%= link_to 'Back', root_path, class: 'btn btn-default' %>
<% end %>
