<div class="well">
  <p class="lead">Please take some time to fill out the information forms below.</p>
  <p class="text-muted">Your information will remain secure in our database and will not be shared with outside parties.</p>

  <div class="col-md-4">
    <div class="buttonpanel buttonpanel-blue">
      <span>
        <h3>Step 1: Carrier Registration</h3>
      </span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="buttonpanel buttonpanel-blue">
      <span>
        <h3>Step 2: Facility Registration</h3>
      </span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="buttonpanel buttonpanel-blue">
      <span>
        <h3>Step 3: Contact Registration</h3>
      </span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
