<%= image_tag("GnA_Logo.png", size: "150x150", class: "center-block", alt: "Gumro and Associates Logo" )%>
<h1 class="text-center">Gumro &amp; Associates</h1>
<h3 class="text-center">Carrier Management System</h3>
<hr>

<%= render 'buttonpanels' %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'messagewall' %>
    </div>
    <div class="col-md-6">
      <%= render 'developerlog' %>
    </div>
  </div>
<% end %>
