<p>
  <%= link_to new_message_path, class: 'btn btn-success pull-right' do %>
    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> New Message
  <% end %>
</p>
<div class="clearfix"></div>
<div class="well">
  <%= render @messages %>
</div>
