<h1>New Facility</h1>

<%= render 'form' %><hr>

<% if current_user.try(:admin?) %>
  <%= link_to 'Back', facilities_path, class: 'btn btn-default' %>
<% else %>
  <%= link_to 'Back', root_path, class: 'btn btn-default' %>
<% end %>
