<div class="row row-centered">
  <div class="col-sm-6 col-sm-offset-3 well">

    <h1>Editing Contact</h1><hr>

    <%= render 'form' %><hr>

    <%= link_to 'Show', @contact, class: 'btn btn-default' %>
    <%= link_to 'Back', contacts_path, class: 'btn btn-default' %>

  </div>
</div>
