<div class="row row-centered">
  <div class="col-sm-6 col-sm-offset-3 well">

    <h1>New Contact</h1><hr>

    <%= render 'form' %><hr>

    <% if user_signed_in? %>
      <%= link_to 'Back', contacts_path, class: 'btn btn-default' %>
    <% else %>
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
    <% end %>

  </div>
</div>
