<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Carrier Form Submitted</h1>
    <h2><%= @carriername %> has just registered.</h2>
    <hr>
    <p>Head's up! Someone filled out the new carrier form on <a href="http://gumrocms.herokuapp.com">GumroCMS</a>.</p>
    <p><a href="http://gumrocms.herokuapp.com/<%= carriers_path %>/<%= @carrierpath %>">See the new carrier's info</a></p>
    <p><a href="http://gumrocms.herokuapp.com/<%= carriers_path %>">See all carriers</a></p>
  </body>
</html>
