<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="width: 500px; margin-left: auto; margin-right:auto;">

    <%= image_tag("GnA_Logo.png", size: "80x80", style: "float:left; margin-right: 20px;", alt: "Gumro and Associates Logo" )%>
    <h1 class="text-center">Gumro &amp; Associates</h1>
    <h3 class="text-center">Carrier Management System</h3>
    <hr>


    <h1>Carrier Form Filled Out</h1>
    <p>
      An anonymous user has filled out the Carrier form on the <a href="http://gumrocms.herokuapp.com">GumroCMS website</a>.
    </p>
  </body>
</html>
