<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Contact Form Submitted</h1>
    <h2><%= @contactname %> has just registered.</h2>
    <hr>
    <p>Head's up! Someone filled out the new contact form on <a href="http://carriers.gumroandassociates.com">GumroCMS</a>.</p>
    <p><a href="http://carriers.gumroandassociates.com/<%= contacts_path %>/<%= @contactpath %>">Go to the new contact's details page.</a></p>
    <p><a href="http://carriers.gumroandassociates.com/<%= contacts_path %>">See all contacts</a></p>
  </body>
</html>
