<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Facility Form Submitted</h1>
    <h2>A facility in <%= @facilitycity %> was just registered.</h2>
    <hr>
    <p>Head's up! Someone filled out the new facility form on <a href="http://carriers.gumroandassociates.com">GumroCMS</a>.</p>
    <p><a href="http://carriers.gumroandassociates.com/<%= facilities_path %>/<%= @facilitypath %>">See the new facility's info</a></p>
    <p><a href="http://carriers.gumroandassociates.com/<%= facilities_path %>">See all facilities</a></p>
  </body>
</html>
